* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    color: gold;
}

.nav {
    background-color: black;
    color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: auto;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav a{
    color: inherit
}

